* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: rgb(0, 0, 0);
    --blue: #01b3e4;
    --darker-gray: rgba(0, 0, 0, 0.6);
    --main-gray: #E3E3E3;
    --main-theme: rgb(3, 37, 65);
    --white: rgb(255, 255, 255);
}

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    height: 100vh;
}

/* Main */

main {
    margin: 15px auto;
    max-width: 1400px;
}

.main-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

section {
    display: flex;
    gap: 25px;
}

.hide { 
    display: none;
}

/* Header */

header {
    align-items: center;
    background-color: var(--main-theme);
    display: flex;
    height: 64px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 1400px;
}

header a {
    cursor: pointer;
}

.main-nav img {
    height: 20px;
    margin-right: 35px;
    width: 154px;
}

.secondary-nav img {
    height: 43px;
    width: 30px;
}

.main-nav,
.secondary-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-nav ul,
.secondary-nav ul {
    align-items: center;
    color: var(--white);
    display: flex;
    gap: 35px;
    justify-content: center;
    list-style: none;
}

.language {
    border-radius: 3px;
    border: 1px solid var(--white);
    font-weight: bold;
    padding: 5px;
}

/* Footer */

footer {
    align-items: center;
    background-color: var(--main-theme);
    display: flex;
    gap: 25px;
    height: 400px;
    justify-content: center;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 250px;
}

footer img {
    height: 94px;
    position: relative;
    top: -33px;
    width: 130;
}

footer button {
    background-color: var(--white);
    border-radius: 5px;
    color: var(--blue);
    cursor: pointer;    
    font-size: 1.2rem;
    font-weight: 800;
    height: 45px;
    padding: 0 8px;
    width: 236px;
}

footer ul {
    font-size: 1.05rem;
    list-style: none;
}

footer ul li {
    margin-bottom: 3px;

}

footer h2,
footer a { 
    color: var(--white);
}

footer a {
    text-decoration: none;
}

.community {
    align-items: flex-end;
}

/* Card */


.movie-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.movie-card {
    border-radius: 8px;
    border: 1px solid var(--main-gray);
    box-shadow: 0 0 3px 1px var(--main-gray);
    display: flex;
    flex-direction: column;
    position: relative;
    width: clamp(170px, 20%, 195px);
}

.movie-card a {
    position: relative;
}

.movie-card img {
    background-color: var(--main-gray);
    border-radius: 8px 8px 0 0;
    height: 280px;
    width: 100%;
}

.movie-card button {
    border-radius: 45%;
    border: none;
    cursor: pointer;
    font-weight: 800;
    height: 18px;
    opacity: 0.6;
    position: absolute;
    right: 15px;
    top: 8px;
    width: 18px;
}

.movie-card button span {
    font-size: 1.05rem;
    position: relative;
    top: -4px;
}

.movie-card button:hover {
    background-color: var(--blue);
}

.movie-info {
    padding: 26px 10px 12px;
}

.movie-title {
    font-weight: 800;
    width: 80%;
    
}

.release-date {
    color: var(--darker-gray);
    font-weight: 300;
    margin-top: 2px;
}

.load-more {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 800;
    height: 50px;
    margin: 15px 0;
    width: 100%;
}

.load-more:hover {
    color: var(--black);
}

.rating-container {
    align-items: center;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 15px;
    position: absolute;
    top: 92%;
    width: 40px;
    z-index: 1;
}

.rating-background {
    align-items: center;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    height: 33px;
    justify-content: center;
    width: 33px;
}

.rating {
    align-items: center;
    background-color: var(--black);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    font-size: 0.85rem;
    height: 28px;
    justify-content: center;
    width: 28px;
}

.rating span {
    font-size: 0.55rem;
    position: relative;
    top: -3px;
}


/* Filter */

.filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sort,
.filter {
    border-radius: 8px;
    border: 1px solid var(--main-gray);
    box-shadow: 0 0 3px 1px var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.sort .title,
.filter .title{
    align-items: center;
    border-bottom: 1px solid var(--main-gray);
    cursor: pointer;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: 14px 16px;
}

.sort .selection {
    display: none;
    padding: 10px 14px;
}

.filter .selection {
    padding: 10px 14px;
}

.selection p {
    font-size: 0.95rem;
    font-weight: 300;
    margin-bottom: 8px;
}

.sort .selection select {
    background-color: var(--white);
    border-radius: 8px;
    font-size: 0.80rem;
    height: 35px;
    padding: 5px 1px;
    width: 100%;
}

.sort .selection select:active {
    outline: 1px solid var(--blue);
}

.search-button {
    background-color: var(--main-gray);
    border-radius: 15px;
    border: none;
    color: var(--darker-gray);
    cursor: pointer;
    font-size: 1.05rem;
    height: 40px;
    width: 100%;
}

.big-button {
    background-color: var(--blue);
    border: none;
    bottom: 0;
    color: var(--white);
    cursor: pointer;
    display: none;
    font-size: 1.05rem;
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.button-active {
    background-color: var(--blue);
    color: var(--white);
}

.genres {
    border-bottom: 1px solid var(--main-gray);
    margin: 5px 0;
}

.genres button {
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--darker-gray);  
    cursor: pointer;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 5px 9px;
}

.genres button:hover {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
}

.keywords input {
    border-radius: 5px;
    border: 1px solid var(--darker-gray);  
    height: 40px;
    padding: 5px;
    width: 100%;
}

.keywords input::placeholder {
    color: var(--black);
}

/*  */